.home-container {
    height: 100%;
    padding-top: 40px;
    padding-left: 140px;
    padding-right: 40px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    justify-content: space-between;
}

.home-title {
    margin-top: 34px;
    margin-bottom: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
}

.home-subtitle {
    margin-top: 100px;
    margin-bottom: 0;
    color: #F2F2F2;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.main-image {
    margin-top: 115px;
    margin-left: 60px;
}