.pass-input-container {
    margin-top: 32px;
}

.pass-input {
    padding-right: 54px;
}

.login-submit {
    margin-top: 150px;
}

.box-error {
    margin-top: 25px;
    margin-bottom: 47px !important;
}

.no-box-error {
    margin-top: 95px;
}

.eye-password {
    width: 35px;
    height: 23px;
    cursor: pointer;
    margin-left: 402px;
    margin-top: -41px;
}