.reviews-list-container {
    width: 1170px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 19px 22px 6px 17px;
}

.reviews-list-content {
    margin-bottom: 15px;
}

.reviews-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4px;
    padding-left: 19px;
}

.reviews-list-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-left: 15px;
    margin-bottom: 0;
}

.reviews-list-body {
    width: 100%;
    padding: 13px 16px 20px 20px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    margin-bottom: 0;
}

.reviews-list-body-text {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}