.movies-container {
    margin-top: 30px;
    padding: 0 40px 50px 40px;
}

.cards-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, 268px);
    grid-gap: 33px 20px;
    justify-content: space-between;
    margin-top: 32px;
}